$screen-sm: 512px;
$screen-md: 768px;
$screen-lg: 1024px;

$color-black: #000000;
$color-white: #FFFFFF;

$color-primary: #E6007E;

$color-danger: #E72D41;

$color-text: #7C7C7C;

$color-link: $color-primary;
$color-error: $color-danger;

$font-bold: 'BrownStdBold';
$font-regular: 'BrownStdRegular';
$font-light: 'BrownStdLight';

$font-paragraph-size: 17px;
$line-height-paragraph: 1.2;
