.p-home-page {
  .title-section,
  .subtitle-section {
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    transform: translateY(60px);
    transition-property: transform, opacity;
    transition-duration: 1000ms;
    transition-timing-function: ease;
  }

  .title-section {
    position: relative;
    padding-bottom: 15px;
    color: #444444;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 60px;
      height: 3px;
      background-color: $color-primary-dark;
      transform: translateX(-50%)
    }
  }

  .subtitle-section {
    margin-top: 30px;
    margin-bottom: 0;
    color: #6C6C6C;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    transition-delay: 500ms;
  }

  &__header {
    $header: '.p-home-page__header';

    position: relative;
    box-sizing: border-box;
    height: 80vh;
    padding: 50px;
    background: linear-gradient(to top, $color-primary 0%, $color-primary-dark 100%);

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    &__content {
      position: relative;
      z-index: 20;

      h1,
      p,
      a {
        position: relative;
        opacity: 0;
        transform: translateY(80px);
        transition-property: transform, opacity;
        transition-duration: 1000ms;
        transition-timing-function: ease;
        color: #FFFFFF;
      }

      h1 {
        margin-bottom: 0;
        font-size: 50px;
        line-height: 1.1;

        @media all and (min-width: $screen-lg) {
          font-size: 56px;
          line-height: 63px;
        }
      }

      p {
        margin-top: 20px;
        font-size: 18px;
        line-height: normal;

        @media all and (min-width: $screen-lg) {
          font-size: 20px;
          line-height: 29px;
        }
      }

      a {
        margin-top: 20px;
        color: $color-text;
      }
    }

    &__thumbnail {
      opacity: 0;
      transform: translateY(-80px);
      transition-property: transform, opacity;
      transition-duration: 1000ms;
      transition-timing-function: ease;

      img {
        max-height: calc(80vh - 100px);
      }
    }

    .slider-element {
      position: relative;
      z-index: 10;
      height: 100%;

      .swiper-slide {
        &.swiper-slide-active {
          #{$header}__content {
            h1,
            p,
            a {
              opacity: 1;
              transform: translateY(0);
            }
    
            h1 {
              transform: translateY(0);
              transition-delay: 1000ms;
            }
    
            p {
              transition-delay: 1800ms;
            }

            a {
              transition-delay: 2400ms;
            }
          }

          #{$header}__thumbnail {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 1000ms;
          }
        }

        &:first-child {
          #{$header}__content {
            h1 {
              transition-delay: 2000ms !important;
            }

            p {
              transition-delay: 2800ms !important;
            }
          }

          #{$header}__thumbnail {
            transition-delay: 2000ms !important;
          }
        }
      }
    }
  }

  &__section {
    .content {
      h3, a {
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 1000ms;
        transition-timing-function: ease;
      }

      h2 {
        margin-bottom: 25px;
      }

      a {
        margin-top: 40px;
        transition-delay: 1500ms;
      }
    }

    &.show-content {
      .content {
        h3, a {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__about-us {
    padding-top: 150px;
    padding-bottom: 150px;

    .content {
      h3, a {
        opacity: 0;
        transform: translateY(60px);
        transition-property: transform, opacity;
        transition-duration: 1000ms;
        transition-timing-function: ease;
      }

      h3 {
        margin-bottom: 15px;
        color: $color-primary-dark;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
      }

      .title-section,
      .subtitle-section {
        margin-left: 0;
        text-align: left;
      }

      .title-section {
        max-width: 500px;

        &:after {
          left: 0;
        }
      }

      .subtitle-section {
        max-width: 550px;
        text-align: justify;

        p {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .thumbnail {
      text-align: center;

      img {
        max-height: 300px;
        opacity: 0;
        transform: translateX(60px);
        transition-property: transform, opacity;
        transition-duration: 1500ms;
        transition-timing-function: ease;
      }
    }

    &.show-content {
      .content {
        h3, a {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .thumbnail {
        img {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  &__what-we-do,
  &__clients {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: lighten($color-primary, 15%);
  }

  &__what-we-do {
    .title-section {
      max-width: 600px;
    }

    .subtitle-section {
      max-width: 800px;
    }

    .features-container {
      margin-top: 60px;

      .col {
        @media all and (max-width: $screen-md) {
          &:nth-child(n+3) {
            margin-top: 20px;
          }
        }

        @media all and (min-width: $screen-md) and (max-width: $screen-lg) {
          &:nth-child(n+4) {
            margin-top: 20px;
          }
        }

        @media all and (min-width: $screen-lg) {
          &:nth-child(n+5) {
            margin-top: 20px;
          }
        }
      }

      .feature {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        height: 80px;
        padding: 10px 30px;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        opacity: 0;
        text-align: center;
        transition-property: transform, opacity;
        transition-duration: 1000ms;
        transition-timing-function: ease;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: $color-primary-dark;
          transition-property: left;
          transition-duration: 800ms;
          transition-timing-function: ease;
        }

        h3 {
          font-family: $font-regular;
          position: relative;
          z-index: 10;
          color: #444444;
          font-size: 18px;
          line-height: 18px;
          transition-property: color;
          transition-duration: 500ms;
          transition-delay: 200ms;
          transition-timing-function: ease;
        }

        &:hover {
          &:after {
            left: 0;
          }

          h3 {
            color: #FFFFFF;
          }
        }
      }
    }

    &.show-content {
      .title-section,
      .subtitle-section {
        opacity: 1;
        transform: translateX(0);
      }

      .features-container {
        @for $i from 1 through 20 {
          .col:nth-child(#{20}n+#{$i}) {
            .feature {
              transition-delay: #{400 * $i}ms;
            }
          }
        }

        .feature {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  &__projects {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;

    .title-section {
      margin-bottom: 100px;
    }

    .project {
      $project: '.project';

      position: relative;
      box-sizing: border-box;
      margin-bottom: 100px;
      padding: 116px 0px 50px 0px;

      &__bg {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 45%;
        border-radius: 4px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.1);
        transform: translateX(0px);
        transition: transform 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000);

        .bg {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          transform: scale(1.1);
          transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 1100ms;
        }
      }

      &__title {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 100%;

        h2 {
          display: inline-block;
          position: relative;
          color: #363F54;
          font-size: 42px;
          line-height: 51px;
          transform: translateY(30px);
          opacity: 0;
          text-transform: uppercase;
          transition: all 700ms ease 800ms;

          &:before {
            content: '';
            height: 3px;
            width: 60px;
            border-radius: 2px;
            background-color: #363F54;
            position: absolute;
            top: 23px;
            transform: scaleX(0);
            transition: transform 700ms cubic-bezier(0.770, 0.000, 0.230, 1.005);
          }
        }
      }

      &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin-top: 40px;
  
        .text-container {
          display: inline-block;
          position: relative;
          width: 335px;
          opacity: 0;
          text-align: left;
          vertical-align: middle;
          transform: translateY(20px);
          transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1) 800ms, transform 700ms cubic-bezier(0.694, 0, 0.335, 1) 800ms;
  
          .subtitle {
            font-size: 16px;
            margin-bottom: 45px;
          }
  
          p {
            margin-bottom: 60px;
            line-height: 25px;
          }
  
          a {
            position: relative;
            display: inline-block;
            text-decoration: none;
          }
        }
      }

      &__thumbnail {
        position: relative;
        display: inline-block;
        width: 613px;
        height: 412px;
        opacity: 0;
        transform: translateY(60px);
        vertical-align: middle;
        transition: all 800ms cubic-bezier(0.694, 0, 0.335, 1) 800ms;

        @media all and (min-width: $screen-lg) {
          width: 471px;
          height: 316px;
        }
  
        img {
          width: 100%;
          filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
        }
      }

      &:nth-child(odd) {
        #{$project}__bg {
          left: 0;
          transform: translateX(-100%);
        }

        #{$project}__title {
          padding-left: calc(45% + 65px);
          text-align: left;

          h2 {
            &:before {
              right: calc(100% + 35px);
            }
          }
        }
  
        #{$project}__thumbnail {
          order: 1;
        }
  
        #{$project}__content {
          .text-container {
            order: 2;
            margin-left: 150px;
          }
        }
      }

      &:nth-child(even) {
        #{$project}__bg {
          right: 0;
          transform: translateX(100%);
        }

        #{$project}__title {
          padding-right: calc(45% + 65px);
          text-align: right;

          h2 {
            &:before {
              left: calc(100% + 35px);
            }
          }
        }
  
        #{$project}__thumbnail {
          order: 2;
        }
  
        #{$project}__content {  
          .text-container {
            order: 1;
            margin-right: 150px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.is-shown {
        #{$project}__bg {
          transform: translateX(0);

          .bg {
            transform: scale(1);
          }
        }

        #{$project}__title {
          h2 {
            opacity: 1;
            transform: translateY(0px);

            &:before {
              transform: scaleX(1);
            }
          }
        }

        #{$project}__content {
          .text-container {
            opacity: 1;
            transform: translateY(0px);
          }
        }

        #{$project}__thumbnail {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  &__flow-chart {
    height: 200vh;
    padding-top: 100px;
    padding-bottom: 100px;

    .title {
      position: relative;
      margin-bottom: 70px;
      color: #2A2A2A;
      text-align: center;
      text-transform: uppercase;

      &:before {
        content: '';
        position: absolute;
        top: -80px;
        left: calc(50% - 2px);
        width: 4px;
        height: 60px;
        background-color: $color-primary;
      }
    }

    .item {
      $item: '.item';

      position: relative;
      text-align: center;
      cursor: pointer;

      &__thumbnail {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 30px;
        padding: 15px 20px;
        background-color: $color-white;
        border: 2px solid $color-primary;
        border-radius: 6px;
        transition: all 0.25s ease-in-out;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: calc(50% - 1px);
          right: -200px;
          width: 200px;
          height: 2px;
          background-color: $color-primary;
        }

        svg {
          display: block;
          width: 85px;
          height: 85px;

          path {
            transition: all 0.25s ease-in-out;
          }
        }
      }

      h4,
      p {
        position: relative;
        top: -15px;
        opacity: 0;
        transition: all 0.25s ease-in-out;
      }

      h4 {
        font-family: $font-regular;
        display: inline-block;
        margin-bottom: 30px;
        padding: 12px 20px;
        border: 2px solid $color-primary;
        border-radius: 6px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      }

      p {
        font-size: 18px;
        line-height: 23px;
        pointer-events: none;
      }

      &:nth-child(2) {
        z-index: 20;
      }
      &:nth-child(3) {
        z-index: 30;
      }
      &:last-child {
        z-index: 40;

        #{$item}__thumbnail {
          &:after {
            display: none;
          }
        }
      }

      &.show-title {
        h4 {
          top: 0;
          opacity: 1;
          transition-timing-function: ease-in;
        }
      }

      &.show-content {
        #{$item}__thumbnail {
          background-color: $color-primary;
          transition-timing-function: ease-in;

          svg {
            path {
              fill: $color-white;
              transition-timing-function: ease-in;
            }
          }
        }

        p {
          top: 0;
          opacity: 1;
          transition-timing-function: ease-in;
          pointer-events: initial;
        }
      }
    }
  }

  &__clients {
    .clients {
      overflow: hidden;
      margin-top: 75px;

      .client {
        opacity: 0;
        text-align: center;
        transform: translateY(60px);
        transition-property: transform, opacity;
        transition-duration: 1000ms;
        transition-timing-function: ease;

        @for $i from 1 through 20 {
          &:nth-child(#{20}n+#{$i}) {
            transition-delay: #{250 * $i}ms;
          }
        }

        @media all and (max-width: $screen-sm) {
          &:nth-child(n+3) {
            margin-top: 20px;
          }
        }

        @media all and (min-width: $screen-sm) {
          &:nth-child(n+4) {
            margin-top: 20px;
          }
        }

        @media all and (min-width: $screen-md) {
          &:nth-child(n+5) {
            margin-top: 20px;
          }
        }

        @media all and (min-width: $screen-lg) {
          &:nth-child(n+6) {
            margin-top: 20px;
          }
        }

        img {
          max-height: 40px;
        }
      }
    }

    &.show-content {
      .clients {
        .client {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__testimonials {
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 80px;

    .slider {
      position: relative;
      margin-top: 80px;
      padding-right: 20px;
      padding-left: 20px;

      @media all and (min-width: $screen-md) {
        padding-right: 40px;
        padding-left: 40px;
      }

      @media all and (min-width: $screen-lg) {
        padding-right: 80px;
        padding-left: 80px;
      }

      .swiper-pagination {
        position: relative;
        z-index: 50;
        margin-top: 30px;

        &-bullet {
          width: 10px;
          height: 10px;
          border-radius: 6px;
          background-color: $color-primary-dark;
          transition-property: width;
          transition-duration: 500ms;
          transition-timing-function: ease;

          &-active {
            width: 25px;
          }
        }
      }
    }

    .item {
      $item: '.item';

      position: relative;
      opacity: 0;
      transform: translateY(60px);
      transition-property: opacity, transform;
      transition-duration: 700ms;
      transition-timing-function: ease;

      &__wrapper {
        position: relative;
        padding: 40px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.25s ease;
      }

      &__content {
        position: relative;
        margin-bottom: 30px;
        padding-left: 75px;
        font-size: 19px;
        line-height: 29px;
        text-align: center;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 45px;
          height: 35px;
          background-image: url(../images/icons/icon-quote.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
        }
      }

      &__footer {
          .profile,
          .company {
              position: relative;
          }

          .profile {
              .avatar,
              .info {
                  display: inline-block; 
              }

              .avatar {
                  width: 80px;
                  height: 80px;
                  margin-right: 15px;
                  padding: 5px;
                  border: 2px solid $color-primary;
                  border-radius: 50%;
              }

              .info {
                  .name,
                  .from {
                    display: block;
                  }

                  .name {
                    @include font-medium;
                    margin-bottom: 10px;
                  }
              }
          }

          .company {
              img {
                  width: 100%;
                  max-width: 95px;
              }
          }
      }

      &.swiper-slide-prev,
      &.swiper-slide-next {
        #{$item}__wrapper {
          transform: scale(0.8);
        }
      }

      &.swiper-slide-active {
        transition-delay: 350ms;

        @media all and (min-width: $screen-lg) {
          z-index: 10;
        }

        #{$item}__wrapper {
          @media all and (min-width: $screen-lg) {
            left: -25%;
            width: 150%;
          }
        }
      }

      &:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-active) {
        visibility: hidden;
        pointer-events: none;
      }
    }

    &.show-content {
      .item {
        &.swiper-slide-prev,
        &.swiper-slide-next,
        &.swiper-slide-active {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__contact {
    position: relative;
    z-index: 10;
    background-color: #FFFFFF;

    .form-container {
      display: block;
      position: relative;
      top: 95px;
      overflow: hidden;
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 12px;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

      .form {
        padding: 30px 50px;
        background-color: #F5F6F8;

        .input-field {
          height: auto;

          &:nth-child(n+2) {
            margin-top: 30px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .thumbnail {
        background-color: $color-primary;
        text-align: center;

        img {
          height: 180px;
          margin-right: 60px;
          margin-left: 60px;
        }
      }
    }
  }

  .show-content {
    .title-section,
    .subtitle-section {
      opacity: 1; 
      transform: translateY(0);
    }
  }
}
