@import 'settings';

@font-face {
    font-family: 'Noah-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Noah-Bold.eot'), local('☺'), url('../fonts/Noah-Bold.woff') format('woff'), url('../fonts/Noah-Bold.woff2') format('woff2'), url('../fonts/Noah-Bold.ttf') format('truetype'), url('../fonts/Noah-Bold.svg') format('svg');
}

@font-face {
    font-family: 'Noah-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Noah-Regular.eot'), local('☺'), url('../fonts/Noah-Regular.woff') format('woff'), url('../fonts/Noah-Regular.woff2') format('woff2'), url('../fonts/Noah-Regular.ttf') format('truetype'), url('../fonts/Noah-Regular.svg') format('svg');
}

@font-face {
    font-family: 'TeXGyreAdventor-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TeXGyreAdventor-Bold.eot'), local('☺'), url('../fonts/TeXGyreAdventor-Bold.woff') format('woff'), url('../fonts/TeXGyreAdventor-Bold.woff2') format('woff2'), url('../fonts/TeXGyreAdventor-Bold.ttf') format('truetype'), url('../fonts/TeXGyreAdventor-Bold.svg') format('svg');
}

@font-face {
    font-family: 'TeXGyreAdventor-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TeXGyreAdventor-BoldItalic.eot'), local('☺'), url('../fonts/TeXGyreAdventor-BoldItalic.woff') format('woff'), url('../fonts/TeXGyreAdventor-BoldItalic.woff2') format('woff2'), url('../fonts/TeXGyreAdventor-BoldItalic.ttf') format('truetype'), url('../fonts/TeXGyreAdventor-BoldItalic.svg') format('svg');
}

@font-face {
    font-family: 'TeXGyreAdventor-Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TeXGyreAdventor-Italic.eot'), local('☺'), url('../fonts/TeXGyreAdventor-Italic.woff') format('woff'), url('../fonts/TeXGyreAdventor-Italic.woff2') format('woff2'), url('../fonts/TeXGyreAdventor-Italic.ttf') format('truetype'), url('../fonts/TeXGyreAdventor-Italic.svg') format('svg');
}

@font-face {
    font-family: 'TeXGyreAdventor-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TeXGyreAdventor-Regular.eot'), local('☺'), url('../fonts/TeXGyreAdventor-Regular.woff') format('woff'), url('../fonts/TeXGyreAdventor-Regular.woff2') format('woff2'), url('../fonts/TeXGyreAdventor-Regular.ttf') format('truetype'), url('../fonts/TeXGyreAdventor-Regular.svg') format('svg');
}

@import 'base/variables';
@import 'base/utils';
@import 'base/grid';
@import 'base/theme_basics';
@import 'base/rewrites';

.store_theme {
    @import 'base/typography';

    @import 'atoms/buttons/buttons';
    @import 'atoms/dropdowns/dropdowns';
    @import 'atoms/breadcrumb/breadcrumb';
    @import 'atoms/notifications/notifications';

    @import 'molecules/forms/forms';
    @import 'molecules/menu-navigation/menu-navigation';
    @import 'molecules/product/product';

    @import 'organisms/header/header';
    @import 'organisms/footer/footer';

    @import 'pages/homepage/homepage';
    @import 'pages/product/product';
    @import 'pages/page-content/page-content';
    @import 'pages/page-sorting/page-sorting';
    @import 'pages/contact/contact';
}